<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_monitor"
			section="component"
		/>
	</fieldset>
	<fieldset name="common" label="COM_MONITOR_CONFIG_COMMON" description="COM_MONITOR_CONFIG_COMMON_DESC">
		<field
			name="redirect_login"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_REDIRECT_TO_LOGIN"
			description="COM_MONITOR_PARAM_REDIRECT_TO_LOGIN_DESC"
			default="1"
			>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			name="enable_notifications"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_ENABLE_NOTIFICATIONS"
			description="COM_MONITOR_PARAM_ENABLE_NOTIFICATIONS_DESC"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<fieldset name="project" label="COM_MONITOR_PROJECT" description="COM_MONITOR_CONFIG_PROJECT_DESC">
		<field
			name="project_show_url"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_PROJECT_SHOW_URL"
			description="COM_MONITOR_PARAM_PROJECT_SHOW_URL_DESC"
			default="1"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="project_show_logo"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_PROJECT_SHOW_LOGO"
			description="COM_MONITOR_PARAM_PROJECT_SHOW_LOGO_DESC"
			default="1"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="project_link_logo"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_PROJECT_LINK_LOGO"
			description="COM_MONITOR_PARAM_PROJECT_LINK_LOGO_DESC"
			default="1"
			>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<fieldset name="issues" label="COM_MONITOR_ISSUES" description="COM_MONITOR_CONFIG_ISSUES_DESC">
		<field
			name="list_date_format"
			type="text"
			label="COM_MONITOR_DATE_FORMAT_LABEL"
			description="COM_MONITOR_DATE_FORMAT_DESC"
		/>
		<field
			name="list_show_filters"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_LIST_SHOW_FILTERS"
			description="COM_MONITOR_PARAM_LIST_SHOW_FILTERS_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="list_show_filter_search"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_LIST_SHOW_FILTER_SEARCH"
			description="COM_MONITOR_PARAM_LIST_SHOW_FILTER_SEARCH_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="list_filter_search_content"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_LIST_FILTER_SEARCH_CONTENT"
			description="COM_MONITOR_PARAM_LIST_FILTER_SEARCH_CONTENT_DESC"
			default="title"
		>
			<option value="title">COM_MONITOR_PARAM_LIST_FILTER_SEARCH_TITLE</option>
			<option value="content">COM_MONITOR_PARAM_LIST_FILTER_SEARCH_TITLE_CONTENT</option>
		</field>
		<field
			name="list_show_filter_status"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_LIST_SHOW_FILTER_STATUS"
			description="COM_MONITOR_PARAM_LIST_SHOW_FILTER_STATUS_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="list_show_filter_project"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_LIST_SHOW_FILTER_PROJECT"
			description="COM_MONITOR_PARAM_LIST_SHOW_FILTER_PROJECT_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="list_show_status"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_LIST_SHOW_STATUS"
			description="COM_MONITOR_PARAM_LIST_SHOW_STATUS_DESC"
			default="1"
	>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="list_show_status_help"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_LIST_SHOW_STATUS_HELP"
			description="COM_MONITOR_PARAM_LIST_SHOW_STATUS_HELP_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="list_show_classification"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_LIST_SHOW_CLASSIFICATION"
			description="COM_MONITOR_PARAM_LIST_SHOW_CLASSIFICATION_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="list_show_author"
			type="radio"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_AUTHOR_LABEL"
			description="JGLOBAL_SHOW_AUTHOR_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="list_link_author"
			type="radio"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_LINK_AUTHOR_LABEL"
			description="JGLOBAL_LINK_AUTHOR_DESC"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			name="list_show_date_created"
			type="radio"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_CREATE_DATE_LABEL"
			description="JGLOBAL_SHOW_CREATE_DATE_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="list_show_date_modified"
			type="radio"
			class="btn-group btn-group-yesno"
			label="JGLOBAL_SHOW_MODIFY_DATE_LABEL"
			description="JGLOBAL_SHOW_MODIFY_DATE_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="list_show_project"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_LIST_SHOW_PROJECT"
			description="COM_MONITOR_PARAM_LIST_SHOW_PROJECT_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="list_show_version"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_LIST_SHOW_VERSION"
			description="COM_MONITOR_PARAM_LIST_SHOW_VERSION_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
	</fieldset>
	<fieldset name="issue" label="COM_MONITOR_ISSUE" description="COM_MONITOR_CONFIG_ISSUE_DESC">
		<field
			name="issue_date_format"
			type="text"
			label="COM_MONITOR_DATE_FORMAT_LABEL"
			description="COM_MONITOR_DATE_FORMAT_DESC"
		/>
		<field
			name="issue_button_layout"
			type="list"
			label="COM_MONITOR_PARAM_ISSUE_BUTTON_LAYOUT"
			description="COM_MONITOR_PARAM_ISSUE_BUTTON_LAYOUT_DESC"
		>
			<option value="full">COM_MONITOR_PARAM_ISSUE_BUTTON_LAYOUT_FULL</option>
			<option value="compact">COM_MONITOR_PARAM_ISSUE_BUTTON_LAYOUT_COMPACT</option>
			<option value="text">COM_MONITOR_PARAM_ISSUE_BUTTON_LAYOUT_TEXT</option>
		</field>
		<field
			name="issue_create_show_description"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_ISSUE_CREATE_SHOW_DESCRIPTION"
			description="COM_MONITOR_PARAM_ISSUE_CREATE_SHOW_DESCRIPTION_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="issue_show_status"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_ISSUE_SHOW_STATUS"
			description="COM_MONITOR_PARAM_ISSUE_SHOW_STATUS_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="issue_show_status_help"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_ISSUE_SHOW_STATUS_HELP"
			description="COM_MONITOR_PARAM_ISSUE_SHOW_STATUS_HELP_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="issue_show_author"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_ISSUE_SHOW_AUTHOR"
			description="COM_MONITOR_PARAM_ISSUE_SHOW_AUTHOR_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="issue_show_avatar"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_ISSUE_SHOW_AVATAR"
			description="COM_MONITOR_PARAM_ISSUE_SHOW_AVATAR_DESC"
			default="1"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="issue_show_date_created"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_ISSUE_SHOW_DATE_CREATED"
			description="COM_MONITOR_PARAM_ISSUE_SHOW_DATE_CREATED_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="issue_show_project"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_ISSUE_SHOW_PROJECT"
			description="COM_MONITOR_PARAM_ISSUE_SHOW_PROJECT_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="issue_show_version"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_ISSUE_SHOW_VERSION"
			description="COM_MONITOR_PARAM_ISSUE_SHOW_VERSION_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
	</fieldset>
	<fieldset name="comment" label="COM_MONITOR_COMMENTS" description="COM_MONITOR_CONFIG_COMMENT_DESC">
		<field
			name="comment_show_status"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_COMMENT_SHOW_STATUS"
			description="COM_MONITOR_PARAM_COMMENT_SHOW_STATUS_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="comment_show_status_help"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_COMMENT_SHOW_STATUS_HELP"
			description="COM_MONITOR_PARAM_COMMENT_SHOW_STATUS_HELP_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="comment_show_author"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_COMMENT_SHOW_AUTHOR"
			description="COM_MONITOR_PARAM_COMMENT_SHOW_AUTHOR_DESC"
			default="1"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="comment_show_avatar"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_COMMENT_SHOW_AVATAR"
			description="COM_MONITOR_PARAM_COMMENT_SHOW_AVATAR_DESC"
			default="1"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
		<field
			name="comment_show_date_created"
			type="radio"
			class="btn-group btn-group-yesno"
			label="COM_MONITOR_PARAM_COMMENT_SHOW_DATE_CREATED"
			description="COM_MONITOR_PARAM_COMMENT_SHOW_DATE_CREATED_DESC"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>
	</fieldset>
	<fieldset name="unread_issues" label="COM_MONITOR_CONFIG_UNREAD_ISSUES" description="COM_MONITOR_CONFIG_UNREAD_ISSUES_DESC">
		<field
			name="inactivity_period_mark"
			type="number"
			default="50"
			filter="int"
			min="0"
			label="COM_MONITOR_PARAM_INACTIVITY_PERIOD_MARK"
			description="COM_MONITOR_PARAM_INACTIVITY_PERIOD_MARK_DESC"
		/>
		<field
			name="inactivity_period_clean"
			type="number"
			default="30"
			filter="int"
			min="0"
			label="COM_MONITOR_PARAM_INACTIVITY_PERIOD_CLEAN"
			description="COM_MONITOR_PARAM_INACTIVITY_PERIOD_CLEAN_DESC"
		/>
	</fieldset>
</config>